
.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover
}

.color.selected::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #bb833c;
  position: absolute;
  top: 30px;
}